
@font-face {
    font-family: 'Mystery Quest';
    src: url(Mystery_Quest/MysteryQuest-Regular.ttf);
 }
 



/* head{position: absolute;
width: 490px;
height: 252px;
left: 22px;
top: 26px;

font-family: 'Mystery Quest';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 98px;

color: #000000;} */
h1{
    font-size: 72px;
   
}
h5{
    font-size:20px;
}
h6{
    font-size:18px;
}
.sample-set{
    font-size: 65px;
    overflow:scroll;
    width:502px;
    height:89px ;
}
p{
    font-size: 30px;
}

body{
    font-family: 'Mystery Quest';
    background-color:orange
}

path.purple-flower {
    fill:#92278F;
    fill-opacity:0.8;
}

.button:hover {
   fill: aqua;
}



.large-letter{
    font-size:600px;
    width:691px;
    height:760px;
}

#button{position: absolute;
    width: 108px;
    height: 106px;
    


}
.left-col,
.right-col {
width: 366px;
}
.right-col {
    padding:42px;
    background-color: orange;
    position:relative;

}




.right-col .person-info,
section {
    display:flex;
}
section {
    margin: 0 auto;
    width: 1028px;
    justify-content: space-between;
}
.person-info {
    position:absolute;
    bottom:42px;
}

 button:hover{
    background-image: "swirl.svg";
 }   
 
 .sample-set{
    overflow: scroll;
 }

image{/* me 1 */

    position: absolute;
    width: 74px;
    height: 75px;
    left: 635px;
    top: 1186px;
    
    background: url(me.gif);
    

}

h1,h2,h3,h4,h5,h6,p,svg{
    margin:0;
    padding:0;
}
