/* This is the main ccs stylesheet for kscolumna.github.io/project-2 site */

/******* Typography ******/
:root {
    --serif:'Italiana';font-size: 30px;
    --sans:'Poppins';font-size: 30px; ;
    --display: 'Planet Kosmos',sans-serif;
}

clean{
    font-family: 'Poppins';
    font-size: 100px;
    width: 504px;
}
coquette{
    font-family: 'Italiana';
    font-size:100px;
    width:391px;
}

y2k{
    font-family: Planet Kosmos;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    }

    cover{
        color: var(--Periwinkle, #AAAED9);
    text-align: center;
    font-family: Planet Kosmos;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 10.667% */
    position: relative;
    top: 229px;
    left: 576px;
    }

/***********Color */


/******* Navigation */
nav{
display:flex;
    width: 100%;
height: 55px;
justify-content:space-between ;
background-color: #AAAED9;
font-family:"Poppins";
font: size 30px;;
padding:56px 0}

nav ul {
    list-style-type:none;
    display:contents;

}

/************** Layout************/
body{width: 1440px;
height: 6036px;}

section{
    width:100vw;
    height:100vh;
    padding:60px;

}

#first-section{
    font-family:var(--sans);
}

#second-section{

    font-family:var(--display);
    width: 1440px;
    height: 989px;
    flex-shrink: 0;

}

#third-section{
    background-color: #AAAED9;
    font-family:var(--serif);
    width: 1440px;
    height: 989px;
    flex-shrink: 0;
}

#clean-girl-desc{
    position: relative;
    top: 468px;
    left: 897px;
   
}




.flex{
    display:flex;
    flex-direction: row;

}

.chunk{
    background-color: white;
}

.image{
    width: 500px;
    height: 300px;
    background-color: aquamarine;
}

h1{
    font-family:var(--serif)
}
h2{
   font-family: var(--sans);
   font-size:35px;
}
h3{
    font-family: var(--display);

}
p{
    font-family:"Poppins";
    font-size:25px;
}
.right-sect{
    display:flex;
    flex-shrink: 0;
    width: 756px;
    height:2687px;

}
.left-sect{
    display:flex;
    flex-shrink: 0;
    width: 756px;
    height:2687px;

}
